@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
    --font-family: 'Manrope',sans-serif;

    --gradient-text: linear-gradient(89.97deg, #45426e 1.84%, #8b8581 99.55%);
    --gradient-bar: linear-gradient(103.22deg, #45426e -13.86%, #8b8581 99.55%);
    
    --color-bg: #666572;
    --color-footer : #634f4f;
    --color-blog: #2f3942;
    --color-text: #d8dbdd;
    --color-subtext: #87706a;
}